<article class="swrifts">
    <h2>Consumables</h2>
    <section class="table-wrapper">
        {{#each itemsByCategory}}
            {{#if this.name}}<h3>{{this.name}}</h3>{{/if}}

            <div class="pl-summary-journals">
                <table class="dense">
                    <tbody>
                    <tr>
                        <th></th>
                        <th>{{localize "SWADE.Name"}}</th>
                        <th>Description</th>
                        <th>{{localize "SWADE.Charges"}}</th>
                        <th>WT</th>
                        <th>$</th>
                        <th>AR/LC</th>
                    </tr>
                    {{#each this.value}}
                        <tr>
                            <td><img src="{{img}}"></td>
                            <td><b>@Compendium[{{metadata_id}}.{{ogId}}]{ {{~name~}}}</b></td>
                            <td>
                                <div class="summary-description">
                                    {{{popupText}}}
                                    <p class="compendiumSource">Source: {{compendiumLabel}}</p>
                                </div>
                            </td>
                            <td class="centered">{{system.charges.max}}</td>
                            <td class="centered">{{system.weight}}</td>
                            <td class="centered">{{system.price}}</td>
                            <td class="centered">AR{{system.additionalStats.ar.value}}<br />LC{{system.additionalStats.lc.value}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/each}}
    </section>
</article>