<article class="swrifts">
    <section class="table-wrapper">
        {{#each itemsByCategory}}
            {{#if this.name}}<h3>{{this.name}}</h3>{{/if}}

            <div class="pl-summary-journals">
                <table>
                    <tbody>
                    <tr>
                        <th></th>
                        <th>{{localize "SWADE.Name"}}</th>
                        <th>Description</th>
                        <th>Type</th>
                    </tr>
                    {{#each this.value}}
                        <tr>
                            <td><img src="{{img}}"></td>
                            <td><b>@Compendium[{{metadata_id}}.{{ogId}}]{ {{~name~}}}</b></td>
                            <td>
                                <div class="summary-description">
                                    {{{popupText}}}
                                    <p class="compendiumSource">Source: {{compendiumLabel}}</p>
                                </div>
                            </td>
                            <td class="centered">
                                {{#if system.major}}
                                    {{localize "SWADE.Major"}}
                                {{else}}
                                    {{localize "SWADE.Minor"}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/each}}</section>
</article>